<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="assets/Soustraction 5.png" alt="logo eatsj" width="15%" height="15%">
      </a>
      <button class="navbar-toggler button2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Nos menus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="commandes" routerLinkActive="active-link">Mes commandes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Connexion</a>
          </li>
          <li class="nav-item" >
            <form class="container justify-content-start">
              <button class="btn button1" type="button">Inscription</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
