.footer{
    overflow: hidden;
    background-color: var(--cream-color);
    padding: 20px 10px;
    position: sticky;
    top: 100% ;
}
h1{
    font-size: smaller;
    color:  var(--brown-color);
    /* font-weight:bolder; */
}
i{
    padding: 0px 5px;
}
a{
    font-size: smaller;
    color:  var(--brown-color);
    text-decoration: none;
    padding: 0px 10px;
    /* display: grid; */
}
a:hover{
    color: var(--green-color);
}